#all_content{
    position: absolute;
    top: 100px;
    width: 99%;
}
#box{
    width: 100%;
    height: 500px;
    /* 讓底突有透明的效果 */
    background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(src/comment/bg2.jpg); 
}
#box p{
    color: white;
    text-align: center;
    font-size: 35px;
    background-color: rgba(255,255,255,0.25);
}
button{
    width: 60px;
    padding: 5px;
    border: none;
    background-color:rgb(62, 104, 104);
    color: white;
}
button:hover{
    color:rgb(62, 104, 104);
    background-color: white;
}
#input_content{
    position: relative;
    left: 38%;
}
label{
    font-size: 20px;
}
.style1{
    border: 3px solid white;
    font-size: 30px;
    padding: 10px;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.5);
    font-family: "Noto Serif TC";
    
}
.style2{
    border: 3px solid pink;
    font-size: 25px;
    padding: 10px;
    border-radius: 100%;
    background-color: rgba(255,192,203,0.5);
    font-family: "Noto Serif TC";
}
.style3{
    border: 3px solid skyblue;
    font-size: 20px;
    padding: 10px;
    border-radius: 100%;
    background-color: rgba(135,206,235,0.5);
    font-family: "Noto Serif TC";
}
.style4{
    border: 3px solid lightgoldenrodyellow;
    font-size: 15px;
    padding: 10px;
    border-radius: 100%;
    background-color: rgba(250,250,210,0.5);
    font-family: "Noto Serif TC";
}
.style5{
    border: 3px solid plum;
    font-size: 20px;
    padding: 10px;
    border-radius: 100%;
    background-color: rgba(221,160,221,0.5);
    font-family: "Noto Serif TC";
}

/* 排行榜 */
#hot{
    margin-top: 20px;
    padding: 10px;
    background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3)), url(src/comment/bg3.jpeg); 
    font-size: 18px;
}
#hot h2{
    text-align: center;
    font-size: 28px;
}
#hot ol{
    padding: 10px;
    /* background-color: rgba(255,255,255,0.4); */
}
.bar{
    margin: 10px;
    width: 10em;
    border-right-style: solid;
    border-right-color: rgba(62, 104, 104,1);
}
@keyframes bar1{
    from{border-right-width: 0px;}
    to {border-right-width: 600px;}
}
@keyframes bar2{
    from{border-right-width: 0px;}
    to {border-right-width: 540px;}
}
@keyframes bar3{
    from{border-right-width: 0px;}
    to {border-right-width: 450px;}
}
@keyframes bar4{
    from{border-right-width: 0px;}
    to {border-right-width: 296px;}
}
@keyframes bar5{
    from{border-right-width: 0px;}
    to {border-right-width: 284px;}
}
#dai{
    animation: bar1 6s ease;
    border-right-width: 600px;
}
#guo{
    animation: bar2 6s ease;
    border-right-width: 540px;
}
#yung{
    animation: bar3 6s ease;
    border-right-width: 450px;
}
#zheng{
    animation: bar4 6s ease;
    border-right-width: 296px;
}
#zhunag{
    animation: bar5 6s ease;
    border-right-width: 284px;
}

th{
    background-color: rgba(255, 255, 255, 0.5);
}
table,td,th{
    border: rgba(255,255,255,0.5) solid 2px;
    border-collapse: collapse;
}
.photo img{
    border-radius: 60%;
    margin: 10px;
    width: 200px;
    height: 200px;
    opacity: 0.8;
  }
  td{
    padding: 10px;
    text-align: center;
  }
  #push button {
    width: 70%;
    text-align: center;
    background-color: darkslategrey;
    color: wheat;
    border-radius: 50px;
}
#push{
    background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3)), url(src/comment/bg4.jpeg);
    display: flex;
    justify-content: center;
    padding: 25px;
}

