#all_content{
    position: absolute;
    top: 100px;
    width: 99%;
}
/*容器設定*/
.games-container {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;       /* 溢出的圖片裁切掉 */
    margin-bottom: 10px;
}
.games-board {
    position: absolute;
    width: 100%;
    height: 600px;
    overflow: hidden;       /* 溢出的圖片裁切掉 */
}
.games-rule {
    position: absolute;
    width: 100%;
    top: 600px;
    height: 200px;
    background-color: darkslategray;
    overflow: hidden;       /* 溢出的圖片裁切掉 */
}
.games-board .games-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 這裡可以嘗試 'cover' 或 'contain' */
    opacity: 0.8;
}
/**/

/* 遊戲遮罩 */
.games-mask1 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: white;
    opacity: 0.5; */
    overflow:hidden;
    transition: 1s ease;
}
.games-mask1 img {
    position:absolute;
    width: 100%;
    height: auto;
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    filter: saturate(-50%);
    -webkit-filter: saturate(-50%);
}
.games-title-mask1 {
    position: absolute;
    background-color: white;
    opacity: 0.5;
    border-radius: 30px;
    width: 60%;
    height: 20%;
    padding: 10px;
    top: 25%;
    left: 35%;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}
.games-title1 {
    position: absolute;
    background-color: transparent;
    border-radius: 30px;
    font-size: 8vw;
    font-weight: 600;
    color: #eacd76;
    padding: 10px;
    top: 25%;
    left: 38%;
    user-select:none;
    -webkit-user-select:none;
}
.games-mask1 button {
    position: absolute;
    width: 30%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 4vw;
    border-radius: 20px;
    top: 60%;
    left: 50%;
    transition: 0.5s ease;
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
}
.games-mask1 button:hover {
    transform-origin: 50% 50%;
    transform: scale(1.1);
    background-color: #7393B3;
}
.games-mask2 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: white;
    opacity: 0.5; */
    overflow:hidden;
    transition: 1s ease;
}
.games-mask2 img {
    position:absolute;
    width: 100%;
    height: auto;
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    filter: saturate(-50%);
    -webkit-filter: saturate(-50%);
}
.games-title-mask2 {
    position: absolute;
    background-color: white;
    opacity: 0.5;
    border-radius: 30px;
    width: 50%;
    height: 20%;
    padding: 10px;
    top: 25%;
    left: 50%;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}
.games-title2 {
    position: absolute;
    background-color: transparent;
    border-radius: 30px;
    font-size: 8vw;
    font-weight: 600;
    color: #eacd76;
    padding: 10px;
    top: 25%;
    left: 48%;
    user-select:none;
    -webkit-user-select:none;
}
.games-mask2 button {
    position: absolute;
    width: 30%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 4vw;
    border-radius: 20px;
    top: 60%;
    left: 50%;
    transition: 0.5s ease;
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
}
.games-mask2 button:hover {
    transform-origin: 50% 50%;
    transform: scale(1.1);
    background-color: #ffc18c;
    color: #F0FFFF;
    border-color: #F0FFFF;
}

/* 遊戲1：射箭 */
#dart {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
}
#target {
    position: absolute;
    width: 3%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    animation: moveTarget 5s linear infinite;
}
#shooting {
    position: absolute;
    align-content: center;
    text-align: center;
    width: 10%;
    height: 5%;
    border-radius: 10px;
    background-color: darkslategray;
    color: wheat;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
}
#shooting:hover {
    transition: 0.5s;
    background-color: #232941;
    color:white;
}
#arrow {
    position: absolute;
    width: 5%;
    top: 100%;
    left: 52.5%;
    transform-origin: 0% 100%;
    transform: translate(-50%, -100%) rotate(-105deg);   /* 60 + 45 */
    animation: moveArrow 5s ease infinite;
}
#score1 {
    position: absolute;
    width: 10%;
    height: 5%;
    right: 0%;
    background-color: darkslategray;
    color: wheat;
    text-align: center;
}
#end {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    background-color: transparent;
    color: white;
    text-align: center;
    align-content: center;
    font-size: 8vw;
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
}
#character1 {
    position: absolute;
    width: 22%;
    object-fit: contain; /* 這裡可以嘗試 'cover' 或 'contain' */
    left: 5%;
}
#character1:hover {
    transform: scale(1.1);
}
#rule1 {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    left: 27%;
    border-radius: 10px;

    align-self: center;
    text-align: center;
    background-color: wheat;
    color: black;
}
@keyframes moveTarget {
    0% {left: 0%;}
    50% {left: 100%;}
    100% {left: 0%;}
}
@keyframes moveArrow {
    0% {transform:  translate(-50%, -100%) rotate(-105deg);}
    50% {transform:  translate(-50%, -100%) rotate(15deg);}
    100% {transform:  translate(-50%, -100%) rotate(-105deg);}
}
/**/

/* 遊戲2：羽球 */
#court {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}
#hitting {
    position: absolute;
    align-content: center;
    text-align: center;
    width: 10%;
    height: 5%;
    border-radius: 10px;
    background-color: wheat;
    color: darkslategray;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
}
#hitting:hover {
    transition: 0.5s;
    background-color: #232941;
    color:white;
}
.countdown {
    position: absolute;
    color: #ffc18c;
    opacity: 0.8;
    width: 60%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 12vw;
    text-align: center;
    align-content: center;
}
#ready {
    position: absolute;
    height: 40%;
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%);
}
#ball {
    position: absolute;
    height: 6%;
    top: 0%;
    left: 37%;
    transform-origin: 0% 0%;
    /* transform: translate(-50%, -100%);   60 + 45 */
    animation: ballFalling 1s ease-in;
    animation-play-state: paused;
}
#target2 {
    position: absolute;
    height: 6%;
    top: 36%;
    left: 38%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}
#direction {
    position: absolute;
    height: 4%;
    top: 36%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 400;
    /* animation: ballDirection 1.5s ease infinite; */
}
#score2 {
    position: absolute;
    width: 10%;
    height: 5%;
    right: 0%;
    background-color: darkslategray;
    color: wheat;
    text-align: center;
}
#end2 {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    background-color: transparent;
    color: white;
    text-align: center;
    align-content: center;
    font-size: 8vw;
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
}
#character2 {
    position: absolute;
    width: 22%;
    object-fit: contain; /* 這裡可以嘗試 'cover' 或 'contain' */
    right: 5%;
}
#character2:hover {
    transform: scale(1.1);
}
#rule2 {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    right: 27%;
    border-radius: 10px;

    align-self: center;
    text-align: center;
    background-color: wheat;
    color: black;
}
@keyframes ballFalling {
    0% {top: 0%;}
    100% {top: 80%;}
}
@keyframes ballDirection {
    0% {transform: rotate(10deg);}
    50% {transform: rotate(80deg);}
    100% {transform: rotate(10deg);}
}
/* @keyframes ballAttack {
    0% {left: }
} */

/* 排行榜 */
#leaderboard {
    position: relative;
    /* padding: 5%; */
    background-image: url('src/games/leaderboard.jpg');
    background-size: 100% auto; /* 背景圖片寬度 100%，高度自動調整 */
    background-repeat: repeat-y; /* 垂直重複 */
    background-position: center; /* 背景圖片居中 */
    color: #232941;
    width: 100%;
    min-height: 600px; /* 最小高度为 600px */
    display: flex;
    flex-direction: column;
}
/* 父元素随着子元素的增加而增加高度 */
#leaderboard > * {
    flex-grow: 1;
}
#leadwin {
    position: absolute;
    border-radius: 40px;
    background-color: wheat;
    color: darkslategray;
    width: 40%;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#leadwin form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    justify-content: center;
}
#leadwin form label, #leadwin form input {
    width: 50%;
    align-self: center;
}
#submit {
    position: absolute;
    background-color: darkslategray;
    color: wheat;
    top: 200%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20%;
    padding: 4px;
}
#submit:hover {
    background-color: #232941;
    color: white;
}
.lead {
    width: 90%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5%;
    border: 5px solid #232941;
}
.lead .cap {
    font-weight: bold;
    font-size: 3vw; 
}
.lead th{
    border-bottom: 2px solid #232941;
    font-size: 2vw;
}
.lead .user {
    font-size: 2vw;
    color: linen;
    text-align: center;
}
.lead .user-score {
    font-size: 2vw;
    color: linen;
    text-align: center;
}