#all_content{
    position: absolute;
    top: 100px;
    width: 99%;
}
/*容器設定*/
.games-container {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;       /* 溢出的圖片裁切掉 */
    margin-bottom: 10px;
}
.games-board {
    position: absolute;
    width: 100%;
    height: 600px;
    overflow: hidden;       /* 溢出的圖片裁切掉 */
}
.games-rule {
    position: absolute;
    width: 100%;
    top: 600px;
    height: 200px;
    background-color: darkslategray;
    overflow: hidden;       /* 溢出的圖片裁切掉 */
}
.games-board .games-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 這裡可以嘗試 'cover' 或 'contain' */
    opacity: 0.8;
}
.games-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: 300;
}
/**/

/* 遊戲1：射箭 */
#dart {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
}
#target {
    position: absolute;
    width: 3%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    animation: moveTarget 5s linear infinite;
}
#shooting {
    position: absolute;
    align-content: center;
    text-align: center;
    width: 10%;
    height: 5%;
    border-radius: 10px;
    background-color: darkslategray;
    color: wheat;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
}
#shooting:hover {
    transition: 0.5s;
    background-color: #232941;
    color:white;
}
#arrow {
    position: absolute;
    width: 5%;
    top: 100%;
    left: 52.5%;
    transform-origin: 0% 100%;
    transform: translate(-50%, -100%) rotate(-105deg);   /* 60 + 45 */
    animation: moveArrow 5s ease infinite;
}
#score1 {
    position: absolute;
    width: 10%;
    height: 5%;
    right: 0%;
    background-color: darkslategray;
    color: wheat;
    text-align: center;
}
#end {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    background-color: transparent;
    color: white;
    text-align: center;
    align-content: center;
    font-size: 8vw;
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
}
#character1 {
    position: absolute;
    width: 22%;
    object-fit: contain; /* 這裡可以嘗試 'cover' 或 'contain' */
    left: 5%;
}
#character1:hover {
    transform: scale(1.1);
}
#rule1 {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    left: 27%;
    border-radius: 10px;

    align-self: center;
    text-align: center;
    background-color: wheat;
    color: black;
}
@keyframes moveTarget {
    0% {left: 0%;}
    50% {left: 100%;}
    100% {left: 0%;}
}
@keyframes moveArrow {
    0% {transform:  translate(-50%, -100%) rotate(-105deg);}
    50% {transform:  translate(-50%, -100%) rotate(15deg);}
    100% {transform:  translate(-50%, -100%) rotate(-105deg);}
}
/**/

/* 遊戲2：羽球 */
#court {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}
#hitting {
    position: absolute;
    align-content: center;
    text-align: center;
    width: 10%;
    height: 5%;
    border-radius: 10px;
    background-color: darkslategray;
    color: wheat;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    z-index: 2;
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
}
#hitting:hover {
    transition: 0.5s;
    background-color: #232941;
    color:white;
}
#ready {
    position: absolute;
    height: 40%;
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%);
}
#ball {
    position: absolute;
    height: 6%;
    top: 0%;
    left: 37%;
    transform-origin: 0% 0%;
    /* transform: translate(-50%, -100%);   60 + 45 */
    animation: ballFalling 1s ease-in forwards;
}
#target2 {
    position: absolute;
    height: 6%;
    top: 36%;
    left: 38%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}
#direction {
    position: absolute;
    height: 4%;
    top: 36%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 400;
    /* animation: ballDirection 1.5s ease infinite; */
}
#score2 {
    position: absolute;
    width: 10%;
    height: 5%;
    right: 0%;
    background-color: darkslategray;
    color: wheat;
    text-align: center;
}
#end2 {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    background-color: transparent;
    color: white;
    text-align: center;
    align-content: center;
    font-size: 8vw;
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
}
#character2 {
    position: absolute;
    width: 22%;
    object-fit: contain; /* 這裡可以嘗試 'cover' 或 'contain' */
    right: 5%;
}
#character2:hover {
    transform: scale(1.1);
}
#rule2 {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    right: 27%;
    border-radius: 10px;

    align-self: center;
    text-align: center;
    background-color: wheat;
    color: black;
}
@keyframes ballFalling {
    0% {top: 0%;}
    100% {top: 80%;}
}
@keyframes ballDirection {
    0% {transform: rotate(10deg);}
    50% {transform: rotate(80deg);}
    100% {transform: rotate(10deg);}
}
/* @keyframes ballAttack {
    0% {left: }
} */

