/*body以下所有內容用一個div去包，來控制margin*/
#content{    
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: absolute;
    top: 100px;
    z-index: -1;
    font: 20px "Noto Serif TC";
}
/*nav 放在此div外*/


body{
    background-color: #97baa4;
    color: #232941;
    font-weight: 500;
}
h2{
    background-color: wheat;
    color: darkslategrey;
    padding: 5px;
    border-radius: 10px;
}
p{
    padding: 20px;
    background-image: url(src/introduction/olympic_background2.jpg);
    height: 290px;
    background-size: 100%;
    background-repeat: no-repeat;
    font: 18px "Noto Serif TC";
    border-radius: 10px;
}


#Miraitowa{
    width: 40%;
    position: relative;
    top: 30px;
}
#introduction td{
    padding: 10px;
    width: 33%;
    border-radius: 10px;
    background-color: rgb(62, 104, 104);
    color: rgb(238, 220, 187);
    transition: 2s;
}
#introduction td:hover{
    color: rgb(62, 104, 104);
    background-color: rgb(238, 220, 187);
}
#picture_div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#picture_div img{
    width: 30%;
}
#dai , #two_boys{
    width: 400PX;
    border-radius: 30px;
}

.taiwan_content{
    width: 40%;
    font-weight: 600;
}
.taiwan_introduction{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*以下調整獎牌table*/
#score_table {
    width: 50%;
    margin-bottom: 20px;
    float: right;
    border-collapse: collapse;
}
#score_table caption{
    background-color: wheat;
    margin-bottom: 10px;
    border-radius: 10px;
}
#score_table th{
    font-size: 25px;
    font-family: Courier;
    font-weight: 600;
}
#gold{
    background-image: url(src/introduction/gold.jpg);
    filter: saturate(50%);  /*把飽和度調低一點，不然很突兀*/
}
#silver{
    background-image: url(src/introduction/silver.jpg);
    filter: saturate(80%);
}
#copper{
    background-image: url(src/introduction/copper.jpg);
    filter: saturate(80%);
}
/*到這裡結束*/

/*以下是控制輪播*/

.box{
    width: 400px;
    height: 225px; 
    overflow: hidden;
    display: inline-block;
    border-radius: 30px;
}
.list,.list2,.list3{
    margin: 0;
}
.photo,.photo2,.photo3{
    width: 400px;
    height: 225px;
    display: flex;
    justify-content: center;
    float: left;
    
}
.local{
    top: 20px;
    position: relative;
    left: 45%;
}
.button {
    display: inline;
    font-size: 3rem;
    cursor: pointer;
}
/*到這裡結束*/

#news div{
    padding: 5px;
    border: solid rgba(47,79,79,0.5) 2px;
    border-radius: 10px;
    height: 120px;
    margin: 10px;
    background-color: rgba(255,255,255,0.7);
    filter: drop-shadow(12px 16px 5px rgb(163, 163, 163));
} 
#news{
    margin: 10px;
    padding: 30px;
    border-radius: 0 0 10px 10px;
    background-color: rgba(255,255,255,0.5);
}
caption{
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px 10px 0 0;
}
#news #news_content{
    background-color: rgba(255,255,255,0.7);
    filter: drop-shadow(12px 16px 5px rgb(163, 163, 163));
    height: 240px;
    padding: 10px;
}
#news iframe{
    position: relative;
    left: 7.5%;
}



