#all_content{
    position: absolute;
    top: 100px;
    width: 99%;
}

/* 各廣告的基本框架設定 */
#firststore {
    transform: translateY(0px) !important       /* 第一個不用特效 */
}
.store {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;       /* 溢出的圖片裁切掉 */
    transform: translateY(400px);
    margin-bottom: 10px;
    transition: transform 0.5s ease; /* 添加淡入效果 */
}
.store:hover {
    opacity: 1;
}
.store.float-in {    /* 元素浮入效果 */
    opacity: 1;
    transform: translateY(0);
}
.store .ad {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;
}
/**/

/* 商店首圖 */
.store button {
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: 20%;
    text-align: center;
    background-color: darkslategrey;
    color: wheat;
    font: 2vw "Noto Serif TC"; /* 頁面寬度 5% */
    border-radius: 50px;
    z-index: 2;
}
.store .mask {
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 3;
    animation: shrinkToRight 2s ease-in-out forwards 1s;
}
@keyframes shrinkToRight{
    0%   {right: 0;}
    100% {right: -100%;}
}
/**/

/* 紀念T的文字說明 */
.store input {
    position: absolute;
}
.title {
    position: absolute;
    background-color: black;    /* 黑色遮罩 */
    opacity: 0.6;
    width: 25%;
    height: 100%;
    z-index: 2;
    transition: width 0.5s ease;
    display: flex;
}
.table-container {
    display: flex;              /* 讓 div 可以重疊 */
    /* justify-content: center;    水平置中 */ 
    align-items: center;        /* 垂直置中 */
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;           /* 佔右半部70% */
    height: 100%;
    pointer-events: none; /* 确保表格不会影响 .text 的点击事件 */
    font: 1.5vw "Noto Serif TC";
    opacity: 1;
}
.text {
    font: 1.5vw "Noto Serif TC";       /* vw 是相對於視窗寬度的大小 */
}
.text h2 {
    position: fixed;
    /* margin-top: 20%; */
    margin-left: 2%;
    margin-top: 5%;
    color: white;
    max-width: 20%;
    max-height: 50%;        /* 設定邊界，不要超出 div */
    z-index: 3;
}
.text p {           /* 這邊在縮放會有問題 */
    position: fixed;
    /* margin-top: 20%; */
    margin-left: 2%;
    margin-top: 5%;
    top: 20%;
    color: white;
    max-width: 20%;
    max-height: 50%;        /* 設定邊界，不要超出 div */
    z-index: 3;
}
.text label div{
    position: fixed;
    left: 10%;
    top: 80%;
    color: white;
    z-index: 4;
}
/**/

