body{
    background-color: #97baa4;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
#olympic_logo{
    width :20%;
    float: right;
}
#score_table {
    width: 50%;
    float: right;
}
#Miraitowa{
    width: 40%;
    position: relative;
    top: 50px;
}
#introduction td{
    width: 33%;
    border: 5px solid lightblue;
}

#picture_div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#picture_div img{
    width: 30%;
}

/* 以下是 nav 的 css */
#top {
    clear: both;
}
.nav {  
    display: flex;
    justify-content: space-evenly; /* 間隔相等 */
}
nav a {
    color: inherit; /* 移除超連結顏色（繼承上層元素的顏色） */
    text-decoration: none; /* 移除超連結底線 */
    display: block; /* 從 inline 元素改成 block 層級元素 */
    padding: 10px;
}
nav a:hover {
    transition: 0.5s;
    background-color: rgb(72, 120, 72);
    color:white;
}
nav > ul {
    list-style: none;
    background-color: darkslategrey;
    color: wheat;
    font: 16px consolas;
}
/* 到這邊結束 */

